<template>
  <Page>
    <ActionBar>
      <Label text="Home"></Label>
    </ActionBar>

    <ListView for="item in items" @itemTap="onItemTap">
      <v-template>
        <PostPreview :item="item" />
      </v-template>
    </ListView>
  </Page>
</template>

<script>
import PostPreview from "./PostPreview";
import LoginPage from './Login';

export default {
  components: {
    PostPreview,
  },
  data: () => {
    return {
        items: [
            {
                name: "Item 1",
                description: "Description for Item 1.Description for Item 1Description for Item 1Description for Item 1Description for Item 1Description for Item 1Description for Item 1",
                image: "~/assets/images/postImage.png",
            },
            {
                name: "Item 2",
                description: "Description for Item 2",
                image: "~/assets/images/postImage.png",
            },
            {
                name: "Item 3",
                description: "Description for Item 3",
                image: "~/assets/images/postImage.png",
            },
            {
                name: "Item 4",
                description: "Description for Item 4",
                image: "~/assets/images/postImage.png",
            },
            {
                name: "Item 5",
                description: "Description for Item 5",
                image: "~/assets/images/postImage.png",
            },
            {
                name: "Item 6",
                description: "Description for Item 6",
                image: "~/assets/images/postImage.png",
            },
            {
                name: "Item 7",
                description: "Description for Item 7",
                image: "~/assets/images/postImage.png",
            },
            {
                name: "Item 8",
                description: "Description for Item 8",
                image: "~/assets/images/postImage.png",
            },
            {
                name: "Item 9",
                description: "Description for Item 9",
                image: "~/assets/images/postImage.png",
            },
            {
                name: "Item 10",
                description: "Description for Item 10",
                image: "~/assets/images/postImage.png",
            },
            {
                name: "Item 11",
                description: "Description for Item 11",
                image: "~/assets/images/postImage.png",
            },
            {
                name: "Item 12",
                description: "Description for Item 12",
                image: "~/assets/images/postImage.png",
            },
            {
                name: "Item 13",
                description: "Description for Item 13",
                image: "~/assets/images/postImage.png",
            },
            {
                name: "Item 14",
                description: "Description for Item 14",
                image: "~/assets/images/postImage.png",
            },
            {
                name: "Item 15",
                description: "Description for Item 15",
                image: "~/assets/images/postImage.png",
            },
            {
                name: "Item 16",
                description: "Description for Item 16",
                image: "~/assets/images/postImage.png",
            }
        ]};
  },
  methods: {
    onItemTap() {
      console.log('Clicked')
      this.$navigateTo(LoginPage, {frame: 'rootFrame'});
    }
  }
  
};
</script>

<style scoped lang="scss">
// Start custom common variables
@import "~@nativescript/theme/scss/variables/blue";
// End custom common variables

// Custom styles

</style>