<template lang="html">
  <Page actionBarHidden="true" class='LoginPage'>
    <GridLayout class="page__content">
      <ActivityIndicator :busy="isLoading" />
      <StackLayout class="form">
        <Label text="Вход" class="loginTitle"/>
        <TextField  hint="логин..."/>
        <TextField  hint="пароль..."/>
        <Button text="Войти" @tap="onLogin"/>
        <Label text="Еще нет аккаунта?" class="registerBtn" @tap="gotoRegister" />
      </StackLayout>
    </GridLayout>
  </Page>
</template>

<script>
import App from './App';
import RegisterPage from './Register';

export default {
  data: () => {
    return {
      login: '',
      password: '',
      isLoading: false,
    };
  },
  methods: {
    onLogin() {
      this.isLoading = true;
      setTimeout( () => {
        this.isLoading = false;
        this.$navigateTo(App).catch( e => {
          console.log( e )
        } )
      }, 2000)
    },
    gotoRegister() {
      this.$navigateTo(RegisterPage)
    }
  }
}
</script>

<style lang="scss" scoped>
// Start custom common variables
@import "~@nativescript/theme/scss/variables/blue";
// End custom common variables

// Custom styles
.form {
  height: 400px;
  
  .loginTitle {
    text-align: center;
    font-size: 16px;
  }
  .registerBtn {
    text-align: center;
    font-size: 12px;
  }
}
</style>