<template>
  <StackLayout class="item">

    <StackLayout class="item__agent">
      <GridLayout columns="40px, *">
        <WrapLayout class="avatar" col="0">
        </WrapLayout>
        <WrapLayout class="agency" col="1">
          <Label text="Social Media Specialist, Montgoomery Parks Montgomey Montgoomery Parks Montgomey"></Label>
        </WrapLayout>
      </GridLayout>
    </StackLayout>

    <StackLayout class="item__title">
      <Label :text="item.name" textWrap="false"></Label>
    </StackLayout>

    <StackLayout class="item__description">
      <Label :text="item.description" textWrap="true"></Label>
    </StackLayout>
    
    <Image :src="item.image" stretch="aspectFill" />

  </StackLayout>
</template>

<script>

export default {
  props: ["item"]
};
</script>

<style lang="scss" scoped>
  .item {
    &__title {
      font-size: 18px;
      padding: 0;
    }
    &__description {
      font-size: 14px;
      padding: 0;
    }
  }
  .avatar {
    height: 40px;
    background: #f00;
    padding: 0;
  }
  .agency {
    color: #888;
    font-size: 14px;
  }
</style>