<template lang="html">
  <Page actionBarHidden="true" class='LoginPage'>
    <GridLayout class="page__content">
      <ActivityIndicator :busy="isLoading" />
      <StackLayout class="form">
        <Label text="Регистрация" class="loginTitle"/>
        <TextField  hint="почта..."/>
        <TextField  hint="логин..."/>
        <TextField  hint="пароль..."/>
        <Button text="Зарегистрироваться" />
        <Label text="Уже есть аккаунт? Войти..." class="registerBtn" @tap="gotoLogin" />
      </StackLayout>
    </GridLayout>
  </Page>
</template>

<script>
import App from './App';
import LoginPage from "./Login";
export default {
  data: () => {
    return {
      login: '',
      password: '',
      isLoading: false,
    };
  },
  methods: {
    gotoLogin() {
      this.$navigateTo(LoginPage)
    }
  }
}
</script>

<style lang="scss" scoped>
// Start custom common variables
@import "~@nativescript/theme/scss/variables/blue";
// End custom common variables

// Custom styles
.form {
  height: 450px;
  
  .loginTitle {
    text-align: center;
    font-size: 16px;
  }
  .registerBtn {
    text-align: center;
    font-size: 12px;
  }
}
</style>